@using MvcPractice_1.Models
@model IEnumerable<MvcPractice_1.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<div style="font-family: Arial">

    <h2>Index</h2>
    <ul>
        @foreach (Employee employee in @Model)
        {
            <li>
                @Html.ActionLink(employee.Name,"Details",new{id = employee.EmployeeId})
            </li>
        }
    </ul>
</div>
<div>
    @Html.ActionLink("Go Back To Department", "Index", "Department");
</div>

